/* TEST */
/* * {
    border: 1px solid red;
} */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container {
    flex: 1 0 auto;
}

/* NAVIGATION */
.nav-wrapper {
    padding: 0 20px;
}

/* FOOTER */
#footer-links li {
    display: inline;
}